<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">
  <t:site key="servicenow">get-started/ServiceNow</t:site>
  <t:site key="dsv">https://docs.thycotic.com/dsv/1.0.0/index.md</t:site>
  <t:site key="dsvsecret">https://docs.thycotic.com/dsv/1.0.0/cli-ref/secret.md</t:site>
  <t:site key="azuread">get-started/integrate-azure-ad</t:site>
  <t:site key="alm">/</t:site>
  <t:site key="alm-product-page">https://thycotic.com/products/account-lifecycle-manager/</t:site>
  <t:site key="request-quote">https://thycotic.com/products/request-a-quote/</t:site>
</t:sites>
